SCCU-EU-Data-Factory/linkedTemplates/ArmTemplate_9.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "SCCU-EU-Data-Factory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Generic_StoredProcedure_Emails')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Send Email",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Getemail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Generic_SendEmail",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Subject": {
									"value": "@activity('Getemail').output.firstRow.Subject",
									"type": "Expression"
								},
								"Content": {
									"value": "@activity('Getemail').output.firstRow.EmailBody",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Getemail",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "EXEC @{pipeline().parameters.procName}",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "BacPac_Email_Proc",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"procName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "DataRetention/BacPac"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoanTransaction_Archival')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LoanTransactions",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \tFROM [dbo].[LoanTransactionsDetails] \n\tWHERE \n\t\t[PostingDate]  <DATEADD(DAY,-15,CAST(GETUTCDATE() AS DATE));",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "ID",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "ObjectGUID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ObjectGUID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AccountNumber",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "AccountNumber",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "RTXNNumber",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "RTXNNumber",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "PostingDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "PostingDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "ActivityDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "ActivityDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "DebitCreditFlag",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DebitCreditFlag",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Statuscode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Statuscode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "StatusDescription",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "StatusDescription",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RTXNTypecode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "RTXNTypecode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RTXNTypeDescription",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "RTXNTypeDescription",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										},
										"sink": {
											"name": "Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "ExternalRTXNDescText",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ExternalRTXNDescText",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "InternalRTXNDescText",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "InternalRTXNDescText",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Source_Offline_LoanTransactionsDetails",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Destination_Offline_LoanTransactionsDetails",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "AccountTransactionsDelete_Script",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "LoanTransactions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "SCCU_OfflineModedb_PROD_DTU",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "DECLARE @BatchSize INT = 10000; \nDECLARE @RowsAffected INT = 1; \nDECLARE @TotalDeletedRows INT = 0; \n\nWHILE (@RowsAffected > 0)\nBEGIN\n    DELETE \n\tFROM \n\t\t[dbo].[LoanTransactionsDetails]\n\tWHERE \n\t\t[PostingDate]  < DATEADD(DAY,-15,CAST(GETUTCDATE() AS DATE));\n\n    SET @RowsAffected = @@ROWCOUNT; \n    SET @TotalDeletedRows = @TotalDeletedRows + @RowsAffected;\nEND\n\n\nSELECT @TotalDeletedRows AS TotalDeletedRows;\n",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Purge_Script",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "AccountTransactionsDelete_Script",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "SCCU_Archivedb_PROD_DTU",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "DECLARE @BatchSize INT = 10000; \nDECLARE @RowsAffected INT = 1; \nDECLARE @TotalDeletedRows INT = 0; \n\nWHILE (@RowsAffected > 0)\nBEGIN\n    DELETE \n\tFROM \n\t\t[Offline].[LoanTransactionsDetails]\n\tWHERE \n\t\t[PostingDate] < DATEADD(DAY,-47,CAST(GETUTCDATE() AS DATE));\n\n    SET @RowsAffected = @@ROWCOUNT; \n    SET @TotalDeletedRows = @TotalDeletedRows + @RowsAffected;\nEND\n\nSELECT @TotalDeletedRows AS TotalDeletedRows;\n",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "OfflineServices/Offline_Archival"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MemberDataDetails')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "MemberDataDetails_CopyData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "MemberDataDetails_StagingTruncate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "PROD/MemberDataDetails",
									"wildcardFileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MemberNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MemberNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "OwnerPersonNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OwnerPersonNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "OwnerOrganizationNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OwnerOrganizationNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AgreementNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AgreementNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AgreementType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AgreementType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "OrgName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OrgName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "OrgTypeDescription",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OrgTypeDescription",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LastName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AddressUseCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AddressUseCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AddressLineText",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AddressLineText",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CityName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CityName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ZipCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ZipCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "StateCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "StateCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CountryCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CountryCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CountryName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CountryName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Email",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EmailTypeCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EmailTypeCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EmailTypeDescription",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EmailTypeDescription",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "HomePhone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HomePhone",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "HomePhoneUseCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HomePhoneUseCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CellPhone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CellPhone",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CellPhoneUseCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CellPhoneUseCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BusinessPhone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BusinessPhone",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BusinessPhoneUseCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BusinessPhoneUseCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "OrgTaxIds",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OrgTaxIds",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PersonTaxId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PersonTaxId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareAccountNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ShareAccountNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DateOfBirth",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DateOfBirth",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "MemberDateLastContact",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MemeberDateLastContact",
											"type": "DateTime",
											"physicalType": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OfflinSource_MemberDataDetails",
								"type": "DatasetReference",
								"parameters": {
									"MemberDataDetails": "@pipeline().parameters.FileName"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "OfflineDestination_MemberDataDetails",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "MemberDataDetails_StagingTruncate",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "SCCU_OfflineModedb_PROD_DTU",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "TRUNCATE TABLE [dbo].[MemberDataDetails_Staging]"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "MemberDataDetails_CopyData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "Spi_InsertIntoMembersOffline"
						},
						"linkedServiceName": {
							"referenceName": "SCCU_OfflineModedb_PROD_DTU",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "completed copy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Stored procedure1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "PROD/MemberDataDetails",
									"wildcardFileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Completed_MemberDataDetails_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Completed_MemberDataDetails_Sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"FileName": {
						"type": "string",
						"defaultValue": "NextlyMemberData*.csv"
					},
					"FilePath": {
						"type": "string",
						"defaultValue": "offline-services/PROD/MemberDataDetails"
					}
				},
				"folder": {
					"name": "OfflineServices"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/NextlyAccountDetails')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "NextlyAccountDetails_Staging_CopyData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "NextlyAccountDetails_Staging Truncate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "PROD/NextlyAccountDetails",
									"wildcardFileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AccountNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AccountNumber",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "OpenDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OpenDate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AccountDateLastContact",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AccountDateLastContact",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CurrentAccountStatusCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CurrentAccountStatusCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CurrentAccountStatusDesc",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CurrentAccountStatusDesc",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AccountOwnershipCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AccountOwnershipCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AccountOwnershipDesc",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AccountOwnershipDesc",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MajorAccountTypeCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MajorAccountTypeCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MinorAccountTypeCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MinorAccountTypeCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MinorAccountTypeDescription",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MinorAccountTypeDescription",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ProductFullName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductFullName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AccountNickName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AccountNickName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CurrentBalance",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CurrentBalance",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BalanceCategoryCodeEscrow",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BalanceCategoryCodeEscrow",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CurrentBalanceEscrow",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CurrentBalanceEscrow",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BalanceCategoryCodeUnapplied",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BalanceCategoryCodeUnapplied",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CurrentBalanceUnapplied",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CurrentBalanceUnapplied",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BalanceCategoryCodeLIP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BalanceCategoryCodeLIP",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CurrentLIPBalance",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CurrentLIPBalance",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "NextPaymentDueDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NextPaymentDueDate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CurrentDueDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CurrentDueDate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LastPaymentDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LastPaymentDate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LastPaymentAmount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LastPaymentAmount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LoanYTDInterestPaid",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LoanYTDInterestPaid",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RegularPaymentAmount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RegularPaymentAmount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LoanInterestRate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LoanInterestRate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LoanPriorYTDInterestPaid",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LoanPriorYTDInterestPaid",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PayoffBalance",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PayoffBalance",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PayDownBalance",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PayDownBalance",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PrincipalBalance",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PrincipalBalance",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AmountToPayCurrent",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AmountToPayCurrent",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TotalPerDiem",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalPerDiem",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TotalAmountCurrentlyDue",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalAmountCurrentlyDue",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AmountPastDue",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AmountPastDue",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "OriginalLoanAmount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OriginalLoanAmount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LoanCurrentTerm",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LoanCurrentTerm",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LoanRemainingTerm",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LoanRemainingTerm",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RemainingPayments",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RemainingPayments",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PaymentCalculationPeriod",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PaymentCalculationPeriod",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CreditLimitAmount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CreditLimitAmount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AvailableCredit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AvailableCredit",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DepositInterestRate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DepositInterestRate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DepositPriorYTDInterestPaid",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DepositPriorYTDInterestPaid",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DepositYTDInterestPaid",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DepositYTDInterestPaid",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DepositLastInterestAmount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DepositLastInterestAmount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DepositLastInterestPostDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DepositLastInterestPostDate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DepositCurrentTerm",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DepositCurrentTerm",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MaturityDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MaturityDate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "OwnerPersonNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OwnerPersonNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "OwnerOrganizationNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OwnerOrganizationNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AccountType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AccountType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MemberNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MemberNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AgreementNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AgreementNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OfflinSource_NextlyAccountDetails",
								"type": "DatasetReference",
								"parameters": {
									"NextlyAccountDetails": "@pipeline().parameters.FileName"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "OfflineDestination_NextlyAccountDetails",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "NextlyAccountDetails_Staging Truncate",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "SCCU_OfflineModedb_PROD_DTU",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "TRUNCATE TABLE StagingTable_AccountDetails"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "NextlyAccountDetails_Staging_CopyData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Spi_InsertIntoAccountDetails]"
						},
						"linkedServiceName": {
							"referenceName": "SCCU_OfflineModedb_PROD_DTU",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Stored procedure1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "PROD/NextlyAccountDetails",
									"wildcardFileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Completed_NextlyAccountDetails_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Completed_NextlyAccountDetails_Sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"FileName": {
						"type": "string",
						"defaultValue": "NextlyAccounts*.csv"
					},
					"FilePath": {
						"type": "string",
						"defaultValue": "offline-services/DEV/NextlyAccountDetails"
					}
				},
				"folder": {
					"name": "OfflineServices"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/NextlyAccountRoles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "NextlyAccountRoles_CopyData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "NextlyAccountRoles_StagingTruncate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "PROD/NextlyAccountRoles",
									"wildcardFileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AccountNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AccountNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RoleEntityNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RoleEntityNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RoleEntityTypeCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RoleEntityTypeCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RoleCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RoleCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RoleDescription",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RoleDescription",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MemberName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MemberName",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OfflinSource_NextlyAccountRoles",
								"type": "DatasetReference",
								"parameters": {
									"NextlyAccountRoles": "@pipeline().parameters.FileName"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "OfflineDestination_NextlyAccountRoles",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "NextlyAccountRoles_StagingTruncate",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "SCCU_OfflineModedb_PROD_DTU",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "TRUNCATE TABLE NextlyAccountRoles_Staging"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "NextlyAccountRoles_CopyData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "Spi_InsertToMemberRolesDetails"
						},
						"linkedServiceName": {
							"referenceName": "SCCU_OfflineModedb_PROD_DTU",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Stored procedure1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "PROD/NextlyAccountRoles",
									"wildcardFileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Completed_NextlyAccountRoles_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Completed_NextlyAccountRoles_Sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"FileName": {
						"type": "string",
						"defaultValue": "NextlyAccountRoles*.csv"
					},
					"FilePath": {
						"type": "string",
						"defaultValue": "offline-services/PROD/NextlyAccountRoles"
					}
				},
				"folder": {
					"name": "OfflineServices"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/NextlyAccountlockout')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "NextlyAccountlockout_Staging_CopyData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "NextlyAccountlockout_StagingTruncate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "PROD/NextlyAccountlockout",
									"wildcardFileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AccountNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AccountNumber",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "LockoutFlagCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LockoutFlagCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LockoutFlagDescription",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LockoutFlagDescription",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "InactiveDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "InactiveDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OfflinSource_NextlyAccountlockout",
								"type": "DatasetReference",
								"parameters": {
									"NextlyAccountlockout": "@pipeline().parameters.FileName"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "OfflineDestination_NextlyAccountlockout",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "NextlyAccountlockout_StagingTruncate",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "SCCU_OfflineModedb_PROD_DTU",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "TRUNCATE TABLE NextlyAccountlockout_Staging"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "NextlyAccountlockout_Staging_CopyData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "Spi_InsertToMemberLockOutFlagDetails"
						},
						"linkedServiceName": {
							"referenceName": "SCCU_OfflineModedb_PROD_DTU",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Stored procedure1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "PROD/NextlyAccountlockout",
									"wildcardFileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Completed_NextlyAccountlockout_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Completed_NextlyAccountlockout_Sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"FileName": {
						"type": "string",
						"defaultValue": "NextlyAccountLockout*.csv"
					},
					"FilePath": {
						"type": "string",
						"defaultValue": "offline-services/PROD/NextlyAccountlockout"
					}
				},
				"folder": {
					"name": "OfflineServices"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/NextlyCrossAccounts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "NextlyCrossAccounts_CopyData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "NextlyCrossAccounst_StagingTruncate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "PROD/CrossAccounts",
									"wildcardFileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AccountNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AccountNumber",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "AllowCrossAcctXferYN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AllowCrossAcctXferYN",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "OpenDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OpenDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "AccountDateLastContact",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AccountDateLastContact",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "CurrentAccountStatusCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CurrentAccountStatusCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CurrentAccountStatusDesc",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CurrentAccountStatusDesc",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AccountOwnershipCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AccountOwnershipCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AccountOwnershipDesc",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AccountOwnershipDesc",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MajorAccountTypeCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MajorAccountTypeCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MinorAccountTypeCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MinorAccountTypeCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MinorAccountTypeDescription",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MinorAccountTypeDescription",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ProductFullName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductFullName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AccountNickName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AccountNickName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CurrentBalance",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CurrentBalance",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BalanceCategoryCodeEscrow",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BalanceCategoryCodeEscrow",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CurrentBalanceEscrow",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CurrentBalanceEscrow",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BalanceCategoryCodeUnapplied",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BalanceCategoryCodeUnapplied",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CurrentBalanceUnapplied",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CurrentBalanceUnapplied",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BalanceCategoryCodeLIP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BalanceCategoryCodeLIP",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CurrentLIPBalance",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CurrentLIPBalance",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "NextPaymentDueDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NextPaymentDueDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "CurrentDueDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CurrentDueDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "LastPaymentDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LastPaymentDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "LastPaymentAmount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LastPaymentAmount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LoanYTDInterestPaid",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LoanYTDInterestPaid",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RegularPaymentAmount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RegularPaymentAmount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LoanInterestRate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LoanInterestRate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LoanPriorYTDInterestPaid",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LoanPriorYTDInterestPaid",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PayoffBalance",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PayoffBalance",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PayDownBalance",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PayDownBalance",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PrincipalBalance",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PrincipalBalance",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AmountToPayCurrent",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AmountToPayCurrent",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TotalPerDiem",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalPerDiem",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TotalAmountCurrentlyDue",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalAmountCurrentlyDue",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AmountPastDue",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AmountPastDue",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "OriginalLoanAmount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OriginalLoanAmount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LoanCurrentTerm",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LoanCurrentTerm",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LoanRemainingTerm",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LoanRemainingTerm",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RemainingPayments",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RemainingPayments",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PaymentCalculationPeriod",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PaymentCalculationPeriod",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CreditLimitAmount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CreditLimitAmount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AvailableCredit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AvailableCredit",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DepositInterestRate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DepositInterestRate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DepositPriorYTDInterestPaid",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DepositPriorYTDInterestPaid",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DepositYTDInterestPaid",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DepositYTDInterestPaid",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DepositLastInterestAmount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DepositLastInterestAmount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DepositLastInterestPostDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DepositLastInterestPostDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "DepositCurrentTerm",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DepositCurrentTerm",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MaturityDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MaturityDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "AccountType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AccountType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PersonNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PersonNumber",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "CrossAcctAgreementNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CrossAcctAgreementNumber",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "CrossAcctMemberNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CrossAcctMemberNumber",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "OwnerPersonNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OwnerPersonNumber",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "OwnerOrganizationNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OwnerOrganizationNumber",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "OwnerMemberNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OwnerMemberNumber",
											"type": "Int64",
											"physicalType": "bigint"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OfflinSource_NextlyCrossAccounts",
								"type": "DatasetReference",
								"parameters": {
									"CrossAccounts": "@pipeline().parameters.FileName"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "OfflineDestination_NextlyCrossAccounts",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "NextlyCrossAccounst_StagingTruncate",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "SCCU_OfflineModedb_PROD_DTU",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "TRUNCATE TABLE NextlyCrossAccounts_Staging"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "NextlyCrossAccounts_CopyData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Spi_InsertIntoMemberCrossAccounts]"
						},
						"linkedServiceName": {
							"referenceName": "SCCU_OfflineModedb_PROD_DTU",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "completed copy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Stored procedure1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "PROD/CrossAccounts",
									"wildcardFileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Completed_CrossAccounts_Source",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Completed_CrossAccounts_Sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"FileName": {
						"type": "string",
						"defaultValue": "NextlyCrossAccounts*.csv"
					},
					"FilePath": {
						"type": "string",
						"defaultValue": "offline-services/PROD/CrossAccounts"
					}
				},
				"folder": {
					"name": "OfflineServices"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Nextly_LoanDueAlerts_PROD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExternalAlert_LoanDueStaging_Copy data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "PROD/LoanDueAlerts",
									"wildcardFileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlMISink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SubscriptionID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriptionID",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "DueDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DueDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "AmountDue",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AmountDue",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Prod_LoanDueAlertsSourceDataset",
								"type": "DatasetReference",
								"parameters": {
									"TransactionFileName": " @pipeline().parameters.FileName"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Prod_LoanDueAlertsSinkDataSet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "External_LoanAlertQueue_Stored procedure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExternalAlert_LoanDueStaging_Copy data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "spi_ExternalLoanALertQueue"
						},
						"linkedServiceName": {
							"referenceName": "SCCU_BusinessDataPROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Truncate LoanDueAlerts staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Prod_LoanDueAlertsSourceDataset",
								"type": "DatasetReference",
								"parameters": {
									"TransactionFileName": " @pipeline().parameters.FileName"
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "External_LoanAlertQueue_Stored procedure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "PROD/LoanDueAlerts",
									"wildcardFileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "PROD_CompletedLoanDueAlertsSource",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PROD_CompletedLoanDueAlertsSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate LoanDueAlerts staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "sp_Truncate_External_LoanDueAlertStaging"
						},
						"linkedServiceName": {
							"referenceName": "SCCU_BusinessDataPROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"FileName": {
						"type": "string",
						"defaultValue": "LoanDueAlerts10102024.txt"
					},
					"FilePath": {
						"type": "string",
						"defaultValue": "to-nextly/PROD/LoanDueAlerts"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Nextly_ThresholdAlert_PROD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExternalAlert_ThresholdStaging_Copy data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "PROD/ThresholdAlerts",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "@pipeline().parameters.FileName\n",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlMISink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SubscriptionID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriptionID",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "BalanceAmount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BalanceAmount",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PROD_ThresholdSourceDataSet",
								"type": "DatasetReference",
								"parameters": {
									"ThresholdFilename": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PROD_ThresholSinkDataSet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExternalAlert_ThresholdStaging_Copy data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spi_ExtThresholdAlertToQueue]"
						},
						"linkedServiceName": {
							"referenceName": "SCCU_BusinessDataPROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Truncate Threshold staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "UAT_ThresholdSourceDataSet",
								"type": "DatasetReference",
								"parameters": {
									"ThresholdFilename": "@pipeline().parameters.FileName"
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Stored procedure1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "PROD/ThresholdAlerts",
									"wildcardFileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "PROD_CompletedThresholdSource",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PROD_CompletedThresholdSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate Threshold staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Truncate_ExternalAlert_ThresholdStaging]"
						},
						"linkedServiceName": {
							"referenceName": "SCCU_BusinessDataPROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"FileName": {
						"type": "string"
					},
					"FilePath": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Nextly_TransactionAlert_PROD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExternalAlert_ThresholdStaging_Copy data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "PROD/TransactionAlerts",
									"wildcardFileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlMISink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SubscriptionID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriptionID",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "EmailContent",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EmailContent",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SMSContent",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SMSContent",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PROD_TransactionSourceDataset",
								"type": "DatasetReference",
								"parameters": {
									"TransactionFileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PRODTransactionSinkDataSet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExternalAlert_ThresholdStaging_Copy data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "spi_ExtTransactionAlertToQueue"
						},
						"linkedServiceName": {
							"referenceName": "SCCU_BusinessDataPROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Truncate Transaction staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "PROD_TransactionSourceDataset",
								"type": "DatasetReference",
								"parameters": {
									"TransactionFileName": "@pipeline().parameters.FileName"
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Stored procedure1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "PROD/TransactionAlerts",
									"wildcardFileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "PROD_CompletedTransactionSource",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PROD_CompletedTransactionSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate Transaction staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "sp_Truncate_ExternalAlert_TransactionStaging"
						},
						"linkedServiceName": {
							"referenceName": "SCCU_BusinessDataPROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"FileName": {
						"type": "string"
					},
					"FilePath": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PendingIndexCount')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pending Index count",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "SELECT count(1)\nFROM sys.dm_db_index_physical_stats (DB_ID(), NULL, NULL, NULL, NULL) AS DDIPS\nINNER JOIN sys.tables T on T.object_id = DDIPS.object_id\nINNER JOIN sys.schemas S on T.schema_id = S.schema_id\nINNER JOIN sys.indexes I ON I.object_id = DDIPS.object_id\nAND DDIPS.index_id = I.index_id\nWHERE DDIPS.database_id = DB_ID()\nand I.name is not null\nand T.name NOT LIKE '%staging%' and T.name NOT LIKE '%archi%' and T.name NOT LIKE '%exceptio%' \nand t.name not in( 'CheckfreeApiSerilog','NextlyThirdPartyLog','ACISeriLogs2','VerafinSeriLogs', 'PayrailzApiSerilog','SccuBeta_ErrorLog')\n--and t.name = 'LoginHistory'\nAND DDIPS.avg_fragmentation_in_percent > 30\nAND DDIPS.page_count>50000",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SCCUPROD_BusinessData_Source",
								"type": "DatasetReference",
								"parameters": {
									"SourceDB": "SCCU_Businessdata_PROD",
									"SourceTable": "activityLogs",
									"SourceSchema": "dbo"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "DataRetention/MISC"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUAlerts_PROD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExternalAlerts_Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "EXEC sps_GetExternalAlertRecipients",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SubscriptionID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "SubscriptionID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "AccountID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AccountID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "EMAIL",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "EMAIL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PHONE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PHONE",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PROD_SQLDataSet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PROD_GetExternalAlertRecipientsDataSet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "GetThresholdAlertSubscriptions_Copy data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "EXEC Sps_GetThresholdAlertSubscriptionsToFile",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PROD_SQLDataSet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PROD_GetThresholdAlertSubscriptionsDataSet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "GetTransactionAlertSubscription_Copy data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "EXEC sps_GetTransactionAlertSubscriptionToFile",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PROD_SQLDataSet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PROD_GetTransactionAlertSubscriptionsDataSet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"DateFormat": {
						"type": "String"
					},
					"FromDateTime": {
						"type": "String"
					},
					"SampleDate": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUDoneProcessing_PROD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BBAlerts_Copy data1_copy1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetStartingTime",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SetCurrentTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderStoredProcedureName": "[[alert].[sps_ReferenceFileReport]",
								"storedProcedureParameters": {
									"FromDateTime": {
										"type": "String",
										"value": {
											"value": "@variables('StartingTime')",
											"type": "Expression"
										}
									},
									"IncidentIds": {
										"type": "String",
										"value": "[[102,104,105,106,107,108,109,110,60,15,9]"
									},
									"ToDateTime": {
										"type": "String",
										"value": {
											"value": "@variables('EndingTime')",
											"type": "Expression"
										}
									},
									"Types": {
										"type": "String",
										"value": "[[\"text\",\"email\"]"
									}
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SubscriptionID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "SubscriptionID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MessageContent",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MessageContent",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PROD_BBAlertsDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PROD_DoneProcessingDataSet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "GetLastProcessedDateTime",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "SELECT LastProcessedDateTime\nFROM ExternalAlertImportLog",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PROD_SQLDataSet",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SetStartingTime",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetLastProcessedDateTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "StartingTime",
							"value": {
								"value": "@formatDateTime(activity('GetLastProcessedDateTime').output.firstRow.LastProcessedDateTime, 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetCurrentTime",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "EndingTime",
							"value": {
								"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "UpdateLastProcessedDateTime",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "BBAlerts_Copy data1_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "SCCU_BusinessDataPROD",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "UPDATE ExternalAlertImportLog\nSET LastProcessedDateTime = '@{variables('EndingTime')}'",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"StartingTime": {
						"type": "String"
					},
					"EndingTime": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUDoneProcessing_PROD_1stversion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BBAlerts_Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderStoredProcedureName": "[[alert].[sps_ReferenceFileReport]",
								"storedProcedureParameters": {
									"FromDateTime": {
										"type": "String",
										"value": {
											"value": "@formatDateTime(addMinutes(utcnow(), -5), 'yyyy-MM-dd HH:mm:ss')",
											"type": "Expression"
										}
									},
									"IncidentIds": {
										"type": "String",
										"value": "[[102,104,105,106,107,108,109,110,60,15,9]"
									},
									"ToDateTime": {
										"type": "String",
										"value": {
											"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')",
											"type": "Expression"
										}
									},
									"Types": {
										"type": "String",
										"value": "[[\"text\",\"email\"]"
									}
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SubscriptionID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "SubscriptionID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MessageContent",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MessageContent",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PROD_BBAlertsDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PROD_DoneProcessingDataSet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"FromDateTime": {
						"type": "string",
						"defaultValue": "@addminutes(utcnow(), -5)"
					},
					"ToDateTime": {
						"type": "string",
						"defaultValue": "@utcnow()"
					}
				},
				"variables": {
					"DateFormat": {
						"type": "String"
					},
					"FromDateTime": {
						"type": "String"
					},
					"SampleDate": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUPROD_Admin_LogDB_DynamicRetention')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Admin_LogDB_Archive_LookUp",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM MasterConfig WHERE DestinationSchemaName='AdminLogDb' AND IsArchiveEnabled=1 AND ArchiveDays > 0",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SCCUPROD_ArchiveSqlDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Admin_LogDB_Archive_ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Admin_LogDB_Archive_LookUp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Admin_LogDB_Archive_LookUp').output.value",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "CheckRowCount",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlMISource",
											"sqlReaderQuery": {
												"value": "SELECT count(1) as 'RecordCount' FROM @{item().SourceSchemaName}.@{item().SourceTableName} WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().ArchiveDays}, CAST(GETDATE() AS DATE))",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "SCCUPROD_Admin_LogDB_Source",
											"type": "DatasetReference",
											"parameters": {
												"SourceDB": "@item().SourceDBName",
												"SourceTable": {
													"value": "@item().SourceTableName",
													"type": "Expression"
												},
												"SourceSchema": {
													"value": "@item().SourceSchemaName",
													"type": "Expression"
												}
											}
										}
									}
								},
								{
									"name": "If Reecords exists",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "CheckRowCount",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(activity('CheckRowCount').output.firstRow['RecordCount'],0)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "LogDb_Script",
												"type": "Script",
												"dependsOn": [
													{
														"activity": "Admin_LogDb_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 3,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_AdminLogdb_PROD",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE  FROM @{item().SourceSchemaName}.@{item().SourceTableName}  WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().ArchiveDays}, CAST(GETDATE() AS DATE))\n\n",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "Admin_LogDb_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 3,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM @{item().SourceSchemaName}.@{item().SourceTableName} WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().ArchiveDays}, CAST(GETDATE() AS DATE))",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "SCCUPROD_Admin_LogDB_Source",
														"type": "DatasetReference",
														"parameters": {
															"SourceDB": "@item().SourceDBName",
															"SourceTable": "@item().SourceTableName",
															"SourceSchema": "@item().SourceSchemaName"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "Archive_Destination",
														"type": "DatasetReference",
														"parameters": {
															"DestinationTable": "@item().DestinationTableName",
															"DestinationSchema": "@item().DestinationSchemaName"
														}
													}
												]
											},
											{
												"name": "SendMail-BusinessDataFailure",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "Admin_LogDb_Copy data",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "SendEmail_Failure",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"Subject": {
															"value": "@concat('Pipeline -', activity('Admin_LogDb_Copy data').name, ' has been failed')",
															"type": "Expression"
														},
														"Content": {
															"value": "@activity('Admin_LogDb_Copy data').output.errors.message",
															"type": "Expression"
														},
														"Importance": "High"
													}
												}
											},
											{
												"name": "SendMail-BusinessDataFailure_Delete",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "LogDb_Script",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "SendEmail_Failure",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"Subject": {
															"value": "@concat('Pipeline -', activity('LogDb_Script').name, ' has been failed')",
															"type": "Expression"
														},
														"Content": {
															"value": "@activity('LogDb_Script').output.errors.message",
															"type": "Expression"
														},
														"Importance": "High"
													}
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "Admin_LogDB_Purge_LookUp",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Admin_LogDB_Archive_ForEach",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM MasterConfig WHERE DestinationSchemaName='AdminLogDb' AND IsPurgeEnabled=1 AND PurgeDays > 0",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SCCUPROD_ArchiveSqlDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Admin_LogDB_Purge_ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Admin_LogDB_Purge_LookUp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Admin_LogDB_Purge_LookUp').output.value",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "LogDb_Purge_Script",
									"type": "Script",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "SCCU_Archivedb_PROD_DTU",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "DELETE  FROM @{item().DestinationSchemaName}.@{item().DestinationTableName} WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().PurgeDays}, CAST(GETDATE() AS DATE))",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					},
					{
						"name": "RebuildIndex",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Admin_LogDB_Archive_ForEach",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_RebuildIndex]"
						},
						"linkedServiceName": {
							"referenceName": "SCCU_AdminLogdb_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Statistics",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "RebuildIndex",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_UpdateStatistics]"
						},
						"linkedServiceName": {
							"referenceName": "SCCU_AdminLogdb_PROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "DataRetention"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUPROD_Admin_MetaDB_DynamicRetention')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Admin_MetaDB_Archive_LookUp",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM MasterConfig WHERE DestinationSchemaName='AdminMetaDb' AND IsArchiveEnabled=1 AND ArchiveDays > 0",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SCCUPROD_ArchiveSqlDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Admin_MetaDB_Archive_ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Admin_MetaDB_Archive_LookUp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Admin_MetaDB_Archive_LookUp').output.value",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "CheckRowCount",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlMISource",
											"sqlReaderQuery": {
												"value": "SELECT count(1) as 'RecordCount' FROM @{item().SourceSchemaName}.@{item().SourceTableName} WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().ArchiveDays}, CAST(GETDATE() AS DATE))",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "SCCUPROD_Admin_MetaDB_Source",
											"type": "DatasetReference",
											"parameters": {
												"SourceDB": "@item().SourceDBName",
												"SourceTable": "@item().SourceTableName",
												"SourceSchema": "@item().SourceSchemaName"
											}
										}
									}
								},
								{
									"name": "If record exists",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "CheckRowCount",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(activity('CheckRowCount').output.firstRow['RecordCount'],0)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "AdminMetaDB_Script",
												"type": "Script",
												"dependsOn": [
													{
														"activity": "AdminMetaDB_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 3,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_AdminMetadb_PROD",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE  FROM @{item().SourceSchemaName}.@{item().SourceTableName}  WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().ArchiveDays}, CAST(GETDATE() AS DATE))\n\n",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "AdminMetaDB_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 3,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlMISource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM @{item().SourceSchemaName}.@{item().SourceTableName} WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().ArchiveDays}, CAST(GETDATE() AS DATE))",
															"type": "Expression"
														},
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "SCCUPROD_Admin_MetaDB_Source",
														"type": "DatasetReference",
														"parameters": {
															"SourceDB": "@item().SourceDBName",
															"SourceTable": "@item().SourceTableName",
															"SourceSchema": "@item().SourceSchemaName"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "Archive_Destination",
														"type": "DatasetReference",
														"parameters": {
															"DestinationTable": "@item().DestinationTableName",
															"DestinationSchema": "@item().DestinationSchemaName"
														}
													}
												]
											},
											{
												"name": "SendMail-BusinessDataFailure",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "AdminMetaDB_Copy data",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "SendEmail_Failure",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"Subject": {
															"value": "@concat('Pipeline -', activity('AdminMetaDB_Copy data').name, ' has been failed')",
															"type": "Expression"
														},
														"Content": {
															"value": "@activity('AdminMetaDB_Copy data').output.errors.message",
															"type": "Expression"
														},
														"Importance": "High"
													}
												}
											},
											{
												"name": "SendMail-BusinessDataFailure_Delete",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "AdminMetaDB_Script",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "SendEmail_Failure",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"Subject": {
															"value": "@concat('Pipeline -', activity('AdminMetaDB_Script').name, ' has been failed')",
															"type": "Expression"
														},
														"Content": {
															"value": "@activity('AdminMetaDB_Script').output.errors.message",
															"type": "Expression"
														},
														"Importance": "High"
													}
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "Admin_METADB_Purge_LookUp",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Admin_MetaDB_Archive_ForEach",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM MasterConfig WHERE DestinationSchemaName='AdminMetaDb' AND IsPurgeEnabled=1 AND PurgeDays > 0",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SCCUPROD_ArchiveSqlDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Admin_MetaDB_Purge_ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Admin_METADB_Purge_LookUp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Admin_METADB_Purge_LookUp').output.value",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "MetaDb_Purge_Script",
									"type": "Script",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "SCCU_Archivedb_PROD_DTU",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "DELETE  FROM @{item().DestinationSchemaName}.@{item().DestinationTableName} WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().PurgeDays}, CAST(GETDATE() AS DATE))",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					},
					{
						"name": "RebuildIndex",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Admin_MetaDB_Archive_ForEach",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_RebuildIndex]"
						},
						"linkedServiceName": {
							"referenceName": "SCCU_AdminMetadb_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Statistics",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "RebuildIndex",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_UpdateStatistics]"
						},
						"linkedServiceName": {
							"referenceName": "SCCU_AdminMetadb_PROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "DataRetention"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUPROD_Anonymous_LogDB_DynamicRetention')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Anonymous_LogDB_Archive_LookUp",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM MasterConfig WHERE DestinationSchemaName='AnonymousLogDb' AND IsArchiveEnabled=1 AND ArchiveDays > 0",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SCCUPROD_ArchiveSqlDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Anonymous_LogDB_Archive_ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Anonymous_LogDB_Archive_LookUp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Anonymous_LogDB_Archive_LookUp').output.value",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "CheckRowCount",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlMISource",
											"sqlReaderQuery": {
												"value": "SELECT count(1) as 'RecordCount' FROM @{item().SourceSchemaName}.@{item().SourceTableName} WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().ArchiveDays}, CAST(GETDATE() AS DATE))",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "SCCUPROD_Anonymous_LogDB_Source",
											"type": "DatasetReference",
											"parameters": {
												"SourceDB": "@item().SourceDBName",
												"SourceTable": "@item().SourceTableName",
												"SourceSchema": "@item().SourceSchemaName"
											}
										}
									}
								},
								{
									"name": "If record exists",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "CheckRowCount",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(activity('CheckRowCount').output.firstRow['RecordCount'],0)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Anonymous_LogDb_Script",
												"type": "Script",
												"dependsOn": [
													{
														"activity": "Anonymous_LogDb_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 3,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_AnonymousLogdb_PROD",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE  FROM @{item().SourceSchemaName}.@{item().SourceTableName}  WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().ArchiveDays}, CAST(GETDATE() AS DATE))\n\n",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "Anonymous_LogDb_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 3,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM @{item().SourceSchemaName}.@{item().SourceTableName} WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().ArchiveDays}, CAST(GETDATE() AS DATE))",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "SCCUPROD_Anonymous_LogDB_Source",
														"type": "DatasetReference",
														"parameters": {
															"SourceDB": "@item().SourceDBName",
															"SourceTable": "@item().SourceTableName",
															"SourceSchema": "@item().SourceSchemaName"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "Archive_Destination",
														"type": "DatasetReference",
														"parameters": {
															"DestinationTable": "@item().DestinationTableName",
															"DestinationSchema": "@item().DestinationSchemaName"
														}
													}
												]
											},
											{
												"name": "SendMail-BusinessDataFailure",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "Anonymous_LogDb_Copy data",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "SendEmail_Failure",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"Subject": {
															"value": "@concat('Pipeline -', activity('Anonymous_LogDb_Copy data').name, ' has been failed')",
															"type": "Expression"
														},
														"Content": {
															"value": "@activity('Anonymous_LogDb_Copy data').output.errors.message",
															"type": "Expression"
														},
														"Importance": "High"
													}
												}
											},
											{
												"name": "SendMail-BusinessDataFailure_Delete",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "Anonymous_LogDb_Script",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "SendEmail_Failure",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"Subject": {
															"value": "@concat('Pipeline -', activity('Anonymous_LogDb_Script').name, ' has been failed')",
															"type": "Expression"
														},
														"Content": {
															"value": "@activity('Anonymous_LogDb_Script').output.errors.message",
															"type": "Expression"
														},
														"Importance": "High"
													}
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "LogDB_Purge_LookUp",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Anonymous_LogDB_Archive_ForEach",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM MasterConfig WHERE DestinationSchemaName='AnonymousLogDb' AND IsPurgeEnabled=1 AND PurgeDays > 0",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SCCUPROD_ArchiveSqlDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Anonymous_LogDB_Purge_ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LogDB_Purge_LookUp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LogDB_Purge_LookUp').output.value",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "LogDb_Purge_Script",
									"type": "Script",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "SCCU_Archivedb_PROD_DTU",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "DELETE  FROM @{item().DestinationSchemaName}.@{item().DestinationTableName} WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().PurgeDays}, CAST(GETDATE() AS DATE))",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					},
					{
						"name": "RebuildIndex",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Anonymous_LogDB_Archive_ForEach",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_RebuildIndex]"
						},
						"linkedServiceName": {
							"referenceName": "SCCU_AnonymousLogdb_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Statistics",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "RebuildIndex",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_UpdateStatistics]"
						},
						"linkedServiceName": {
							"referenceName": "SCCU_AnonymousLogdb_PROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "DataRetention"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUPROD_Anonymous_MetaDB_DynamicRetention')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Anonymous_MetaDB_Archive_LookUp",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM MasterConfig WHERE DestinationSchemaName='AnonymousMetaDb' AND IsArchiveEnabled=1 AND ArchiveDays > 0",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SCCUPROD_ArchiveSqlDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Anonymous_MetaDB_Archive_ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Anonymous_MetaDB_Archive_LookUp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Anonymous_MetaDB_Archive_LookUp').output.value",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "CheckRowCount",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlMISource",
											"sqlReaderQuery": {
												"value": "SELECT count(1) as 'RecordCount' FROM @{item().SourceSchemaName}.@{item().SourceTableName} WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().ArchiveDays}, CAST(GETDATE() AS DATE))",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "SCCUPROD_Anonymous_MetaDB_Source",
											"type": "DatasetReference",
											"parameters": {
												"SourceDB": "@item().SourceDBName",
												"SourceTable": {
													"value": "@item().SourceTableName",
													"type": "Expression"
												},
												"SourceSchema": "@item().SourceSchemaName"
											}
										}
									}
								},
								{
									"name": "If Reecords exists",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "CheckRowCount",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(activity('CheckRowCount').output.firstRow['RecordCount'],0)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Anonymous_MetaDB_Script",
												"type": "Script",
												"dependsOn": [
													{
														"activity": "Anonymous_MetaDB_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 3,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_AnonymousMetadb_PROD",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE  FROM @{item().SourceSchemaName}.@{item().SourceTableName}  WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().ArchiveDays}, CAST(GETDATE() AS DATE))\n\n",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "Anonymous_MetaDB_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 3,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM @{item().SourceSchemaName}.@{item().SourceTableName} WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().ArchiveDays}, CAST(GETDATE() AS DATE))",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "SCCUPROD_Anonymous_MetaDB_Source",
														"type": "DatasetReference",
														"parameters": {
															"SourceDB": "@item().SourceDBName",
															"SourceTable": "@item().SourceTableName",
															"SourceSchema": "@item().SourceSchemaName"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "Archive_Destination",
														"type": "DatasetReference",
														"parameters": {
															"DestinationTable": "@item().DestinationTableName",
															"DestinationSchema": "@item().DestinationSchemaName"
														}
													}
												]
											},
											{
												"name": "SendMail-BusinessDataFailure",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "Anonymous_MetaDB_Copy data",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "SendEmail_Failure",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"Subject": {
															"value": "@concat('Pipeline -', activity('Anonymous_MetaDB_Copy data').name, ' has been failed')",
															"type": "Expression"
														},
														"Content": {
															"value": "@activity('Anonymous_MetaDB_Copy data').output.errors.message",
															"type": "Expression"
														},
														"Importance": "High"
													}
												}
											},
											{
												"name": "SendMail-BusinessDataFailure_Delete",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "Anonymous_MetaDB_Script",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "SendEmail_Failure",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"Subject": {
															"value": "@concat('Pipeline -', activity('Anonymous_MetaDB_Script').name, ' has been failed')",
															"type": "Expression"
														},
														"Content": {
															"value": "@activity('Anonymous_MetaDB_Script').output.errors.message",
															"type": "Expression"
														},
														"Importance": "High"
													}
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "METADB_Purge_LookUp",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Anonymous_MetaDB_Archive_ForEach",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM MasterConfig WHERE DestinationSchemaName='AnonymousMetaDb' AND IsPurgeEnabled=1 AND PurgeDays > 0",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SCCUPROD_ArchiveSqlDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Anonymous_MetaDB_Purge_ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "METADB_Purge_LookUp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('METADB_Purge_LookUp').output.value",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "MetaDb_Purge_Script",
									"type": "Script",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "SCCU_Archivedb_PROD_DTU",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "DELETE  FROM @{item().DestinationSchemaName}.@{item().DestinationTableName} WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().PurgeDays}, CAST(GETDATE() AS DATE))",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					},
					{
						"name": "RebuildIndex",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Anonymous_MetaDB_Archive_ForEach",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_RebuildIndex]"
						},
						"linkedServiceName": {
							"referenceName": "SCCU_AnonymousMetadb_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Statistics",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "RebuildIndex",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_UpdateStatistics]"
						},
						"linkedServiceName": {
							"referenceName": "SCCU_AnonymousMetadb_PROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "DataRetention"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUPROD_BBAlerts_DynamicRetention')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BBAlerts_Archive",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM MasterConfig WHERE DestinationSchemaName='BBAlerts'  AND IsArchiveEnabled=1 AND ArchiveDays > 0",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SCCUPROD_ArchiveSqlDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Archive_ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "BBAlerts_Archive",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('BBAlerts_Archive').output.value",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "BBAlerts_Script",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "BBAlerts_Copy data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "SCCU_Logdb_PROD_DTU",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "DELETE  FROM @{item().SourceSchemaName}.@{item().SourceTableName}  WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().ArchiveDays}, CAST(GETDATE() AS DATE))\n\n",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								},
								{
									"name": "BBAlerts_Copy data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT * FROM @{item().SourceSchemaName}.@{item().SourceTableName} WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().ArchiveDays}, CAST(GETDATE() AS DATE))",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SCCUPROD_BBAlerts_Source",
											"type": "DatasetReference",
											"parameters": {
												"SourceDB": "@item().SourceDBName",
												"SourceTable": "@item().SourceTableName",
												"SourceSchema": "@item().SourceSchemaName"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Archive_Destination",
											"type": "DatasetReference",
											"parameters": {
												"DestinationTable": "@item().DestinationTableName",
												"DestinationSchema": "@item().DestinationSchemaName"
											}
										}
									]
								},
								{
									"name": "SendMail-BusinessDataFailure",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "BBAlerts_Copy data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SendEmail_Failure",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Subject": {
												"value": "@concat('Pipeline -', activity('BBAlerts_Copy data').name, ' has been failed')",
												"type": "Expression"
											},
											"Content": {
												"value": "@activity('BBAlerts_Copy data').output.errors.message",
												"type": "Expression"
											},
											"Importance": "High"
										}
									}
								},
								{
									"name": "SendMail-BusinessDataFailure_Delete",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "BBAlerts_Script",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SendEmail_Failure",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Subject": {
												"value": "@concat('Pipeline -', activity('BBAlerts_Script').name, ' has been failed')",
												"type": "Expression"
											},
											"Content": {
												"value": "@activity('BBAlerts_Script').output.errors.message",
												"type": "Expression"
											},
											"Importance": "High"
										}
									}
								}
							]
						}
					},
					{
						"name": "BBAlerts_Purge",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Archive_ForEach",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM MasterConfig WHERE DestinationSchemaName='BBAlerts' AND IsPurgeEnabled=1 AND PurgeDays > 0",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SCCUPROD_ArchiveSqlDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Purge_ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "BBAlerts_Purge",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('BBAlerts_Purge').output.value",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "BBAlerts_Purge_Script",
									"type": "Script",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "SCCU_Archivedb_PROD_DTU",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "DELETE  FROM @{item().DestinationSchemaName}.@{item().DestinationTableName} WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().PurgeDays}, CAST(GETDATE() AS DATE))",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					},
					{
						"name": "Rebuild Index",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Archive_ForEach",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_RebuildIndex]"
						},
						"linkedServiceName": {
							"referenceName": "SCCU_BBAlertsPROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Statistics",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Rebuild Index",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_UpdateStatistics]"
						},
						"linkedServiceName": {
							"referenceName": "SCCU_BBAlertsPROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "DataRetention"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCUPROD_LogDBMI_DynamicRetention')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LogDBMI_Archive_LookUp",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM MasterConfig WHERE DestinationSchemaName='LogDBMI' AND IsArchiveEnabled=1 AND ArchiveDays > 0",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SCCUPROD_ArchiveSqlDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Archive_ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LogDBMI_Archive_LookUp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LogDBMI_Archive_LookUp').output.value",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "CheckRowCount",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlMISource",
											"sqlReaderQuery": {
												"value": "SELECT count(1) as 'RecordCount' FROM @{item().SourceSchemaName}.@{item().SourceTableName} WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().ArchiveDays}, CAST(GETDATE() AS DATE))",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "SCCUPROD_LogDBMI_Source",
											"type": "DatasetReference",
											"parameters": {
												"SourceDB": "@item().SourceDBName",
												"SourceTable": "@item().SourceTableName",
												"SourceSchema": "@item().SourceSchemaName"
											}
										}
									}
								},
								{
									"name": "If Reecords exists",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "CheckRowCount",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(activity('CheckRowCount').output.firstRow['RecordCount'],0)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "LogDBMI_Script",
												"type": "Script",
												"dependsOn": [
													{
														"activity": "LogDbMI_Copy data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 3,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "SCCU_Logdb_PROD",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "DELETE  FROM @{item().SourceSchemaName}.@{item().SourceTableName}  WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().ArchiveDays}, CAST(GETDATE() AS DATE))\n\n",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "LogDbMI_Copy data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 3,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlMISource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM @{item().SourceSchemaName}.@{item().SourceTableName} WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().ArchiveDays}, CAST(GETDATE() AS DATE))",
															"type": "Expression"
														},
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "SCCUPROD_LogDBMI_Source",
														"type": "DatasetReference",
														"parameters": {
															"SourceDB": "@item().SourceDBName",
															"SourceTable": "@item().SourceTableName",
															"SourceSchema": "@item().SourceSchemaName"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "Archive_Destination",
														"type": "DatasetReference",
														"parameters": {
															"DestinationTable": "@item().DestinationTableName",
															"DestinationSchema": "@item().DestinationSchemaName"
														}
													}
												]
											},
											{
												"name": "SendMail-BusinessDataFailure",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "LogDbMI_Copy data",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "SendEmail_Failure",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"Subject": {
															"value": "@concat('Pipeline -', activity('LogDbMI_Copy data').name, ' has been failed')",
															"type": "Expression"
														},
														"Content": {
															"value": "@activity('LogDbMI_Copy data').output.errors.message",
															"type": "Expression"
														},
														"Importance": "High"
													}
												}
											},
											{
												"name": "SendMail-BusinessDataFailure_Delete",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "LogDBMI_Script",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "SendEmail_Failure",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"Subject": {
															"value": "@concat('Pipeline -', activity('LogDBMI_Script').name, ' has been failed')",
															"type": "Expression"
														},
														"Content": {
															"value": "@activity('LogDBMI_Script').output.errors.message",
															"type": "Expression"
														},
														"Importance": "High"
													}
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "LogDBMI_Purge_LookUp",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Archive_ForEach",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM MasterConfig WHERE DestinationSchemaName='LogDBMI' AND IsPurgeEnabled=1 AND PurgeDays > 0",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SCCUPROD_ArchiveSqlDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Purge_ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LogDBMI_Purge_LookUp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LogDBMI_Purge_LookUp').output.value",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "LogDBMI_Purge_Script",
									"type": "Script",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "SCCU_Archivedb_PROD_DTU",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "DELETE  FROM @{item().DestinationSchemaName}.@{item().DestinationTableName} WHERE CAST(@{item().KeyColumn} AS DATE) < DATEADD(DAY, -@{item().PurgeDays}, CAST(GETDATE() AS DATE))",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					},
					{
						"name": "Rebuild Index",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Archive_ForEach",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_RebuildIndex]"
						},
						"linkedServiceName": {
							"referenceName": "SCCU_Logdb_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Statistics",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Rebuild Index",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_UpdateStatistics]"
						},
						"linkedServiceName": {
							"referenceName": "SCCU_Logdb_PROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "DataRetention"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}