SCCU-EU-Data-Factory/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "SCCU-EU-Data-Factory"
		},
		"SCCU-KEYVAULT_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/a8cd236d-26bd-46eb-81fc-dea8aac0fe3c/resourceGroups/SCCU-EU-PROD-NW-RG/providers/Microsoft.KeyVault/vaults/SCCU-KEYVAULT"
		},
		"SCCU-KEYVAULT_properties_groupId": {
			"type": "string",
			"defaultValue": "vault"
		},
		"SCCU_DataFactory_FileShare_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/a8cd236d-26bd-46eb-81fc-dea8aac0fe3c/resourceGroups/SCCU-EU-PROD-SRV-RG/providers/Microsoft.Storage/storageAccounts/sccudatafactorystorage"
		},
		"SCCU_DataFactory_FileShare_properties_groupId": {
			"type": "string",
			"defaultValue": "file"
		},
		"sccudatafactorystorage_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/a8cd236d-26bd-46eb-81fc-dea8aac0fe3c/resourceGroups/SCCU-EU-PROD-SRV-RG/providers/Microsoft.Storage/storageAccounts/sccudatafactorystorage"
		},
		"sccudatafactorystorage_properties_groupId": {
			"type": "string",
			"defaultValue": "blob"
		},
		"sccudatafactorystorage_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"sccudatafactorystorage.blob.core.windows.net"
			]
		},
		"sccudatafactorystorage01_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/a8cd236d-26bd-46eb-81fc-dea8aac0fe3c/resourceGroups/SCCU-EU-PROD-SRV-RG/providers/Microsoft.Storage/storageAccounts/sccudatafactorystorage01"
		},
		"sccudatafactorystorage01_properties_groupId": {
			"type": "string",
			"defaultValue": "blob"
		},
		"sccudatafactorystorage01_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"sccudatafactorystorage01.blob.core.windows.net"
			]
		},
		"sccudrsql01_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/a8cd236d-26bd-46eb-81fc-dea8aac0fe3c/resourceGroups/SCCU-CU-DR-SRV-RG/providers/Microsoft.Sql/managedInstances/sccudrsql01"
		},
		"sccudrsql01_properties_groupId": {
			"type": "string",
			"defaultValue": "managedInstance"
		},
		"sccuprodsql01_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/a8cd236d-26bd-46eb-81fc-dea8aac0fe3c/resourceGroups/SCCU-EU-PROD-SRV-RG/providers/Microsoft.Sql/managedInstances/sccuprodsql01"
		},
		"sccuprodsql01_properties_groupId": {
			"type": "string",
			"defaultValue": "managedInstance"
		},
		"sccustagesql02_Temp_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/a8cd236d-26bd-46eb-81fc-dea8aac0fe3c/resourceGroups/SCCU-EU-STAGE-SRV-RG/providers/Microsoft.Sql/managedInstances/sccustagesql02"
		},
		"sccustagesql02_Temp_properties_groupId": {
			"type": "string",
			"defaultValue": "managedInstance"
		},
		"SCCU_AdminLogdb_PROD_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccusqlmi.247d28acc382.database.windows.net"
		},
		"SCCU_AdminLogdb_PROD_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCU_AdminLogdb_PROD"
		},
		"SCCU_AdminMetadb_PROD_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccusqlmi.247d28acc382.database.windows.net"
		},
		"SCCU_AdminMetadb_PROD_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCU_AdminMetadb_PROD"
		},
		"SCCU_AnonymousLogdb_PROD_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccusqlmi.247d28acc382.database.windows.net"
		},
		"SCCU_AnonymousLogdb_PROD_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCU_AnonymousLogdb_PROD"
		},
		"SCCU_AnonymousMetadb_PROD_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccusqlmi.247d28acc382.database.windows.net"
		},
		"SCCU_AnonymousMetadb_PROD_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCU_AnonymousMetadb_PROD"
		},
		"SCCU_Archivedb_PROD_DTU_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccuprodsql02.database.windows.net"
		},
		"SCCU_Archivedb_PROD_DTU_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCU_Archivedb_PROD"
		},
		"SCCU_BBAlertsDev_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccudevsql01.database.windows.net"
		},
		"SCCU_BBAlertsDev_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCUDEV_BBAlerts"
		},
		"SCCU_BBAlertsPROD_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccusqlmi.247d28acc382.database.windows.net"
		},
		"SCCU_BBAlertsPROD_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCU_BBAlerts_PROD"
		},
		"SCCU_BBAlertsUAT_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sccuuatsql01.database.windows.net"
		},
		"SCCU_BBAlertsUAT_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SCCUUAT_BBAlerts"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/SCCU-KEYVAULT')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('SCCU-KEYVAULT_properties_privateLinkResourceId')]",
				"groupId": "[parameters('SCCU-KEYVAULT_properties_groupId')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/SCCU_DataFactory_FileShare')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('SCCU_DataFactory_FileShare_properties_privateLinkResourceId')]",
				"groupId": "[parameters('SCCU_DataFactory_FileShare_properties_groupId')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/sccudatafactorystorage')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('sccudatafactorystorage_properties_privateLinkResourceId')]",
				"groupId": "[parameters('sccudatafactorystorage_properties_groupId')]",
				"fqdns": "[parameters('sccudatafactorystorage_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/sccudatafactorystorage01')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('sccudatafactorystorage01_properties_privateLinkResourceId')]",
				"groupId": "[parameters('sccudatafactorystorage01_properties_groupId')]",
				"fqdns": "[parameters('sccudatafactorystorage01_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/sccudrsql01')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('sccudrsql01_properties_privateLinkResourceId')]",
				"groupId": "[parameters('sccudrsql01_properties_groupId')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/sccuprodsql01')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('sccuprodsql01_properties_privateLinkResourceId')]",
				"groupId": "[parameters('sccuprodsql01_properties_groupId')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/sccustagesql02_Temp')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('sccustagesql02_Temp_properties_privateLinkResourceId')]",
				"groupId": "[parameters('sccustagesql02_Temp_properties_groupId')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SendEmail')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline email notification on job completion",
				"activities": [
					{
						"name": "GetSendGridAPIKey",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": {
								"value": "@concat('https://sccu-keyvault.vault.azure.net/secrets/SCCUSendGridAPI-PROD?api-version=7.0')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "SendEmailNotification",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "GetSendGridAPIKey",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Authorization": {
									"value": "@concat('Bearer ', activity('GetSendGridAPIKey').output.value)",
									"type": "Expression"
								},
								"Content-Type": "application/json"
							},
							"url": "https://api.sendgrid.com/v3/mail/send",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"body": {
								"personalizations": [
									{
										"to": [
											{
												"email": "SCCUADFNotifications@claysys.com"
											}
										]
									}
								],
								"from": {
									"email": "@{pipeline().globalParameters.FromEmail}"
								},
								"subject": "@{pipeline().parameters.subject}",
								"content": [
									{
										"type": "text/html",
										"value": " @{pipeline().parameters.content}"
									}
								],
								"custom_args": {
									"pipelineName": "@{pipeline().parameters.pipelineName}",
									"importance": "@{pipeline().parameters.importance}"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Subject": {
						"type": "string"
					},
					"Content": {
						"type": "string"
					},
					"Importance": {
						"type": "string"
					},
					"Pipelinename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "DataRetention/MISC"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SendEmailActivity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SendMail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "GetSendGridAPIKey",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Authorization": {
									"value": "@concat('Bearer ',activity('GetSendGridAPIKey').output.value)",
									"type": "Expression"
								},
								"Content-Type": "application/json"
							},
							"disableCertValidation": true,
							"url": {
								"value": "@pipeline().globalParameters.global_sendmail_api_url",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"body": {
								"value": "{\"personalizations\":[{\"to\":[{\"email\":\"prem@claysys.com\"}]}],\"from\":{\"email\":\"@{pipeline().globalParameters.FromEmail}\"},\"subject\":\"@{pipeline().parameters.EmailSubject}\",\"content\":[{\"type\":\"text/html\",\"value\":\"Subject: @{pipeline().parameters.EmailSubject}\\nImportance: \"High\"\\nContent: @{pipeline().parameters.EmailBody}]}}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GetSendGridAPIKey",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": {
								"value": "@concat('https://sccu-keyvault.vault.azure.net/secrets/SCCUSendGridAPI-PROD?api-version=7.0')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"recipientEmail": {
						"type": "string",
						"defaultValue": "prem@claysys.com"
					},
					"EmailSubject": {
						"type": "string",
						"defaultValue": "Test Email from ADF"
					},
					"EmailBody": {
						"type": "string",
						"defaultValue": "Test Mail"
					}
				},
				"folder": {
					"name": "DataRetention/MISC"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SendEmail_IT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline email notification on job completion",
				"activities": [
					{
						"name": "GetSendGridAPIKey",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": {
								"value": "@concat('https://sccu-keyvault.vault.azure.net/secrets/SCCUSendGridAPI-PROD?api-version=7.0')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "SendEmailNotification",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "GetSendGridAPIKey",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Authorization": {
									"value": "@concat('Bearer ', activity('GetSendGridAPIKey').output.value)",
									"type": "Expression"
								},
								"Content-Type": "application/json"
							},
							"url": "https://api.sendgrid.com/v3/mail/send",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"body": {
								"personalizations": [
									{
										"to": [
											{
												"email": "SCCUADFNotifications@claysys.com"
											},
											{
												"email": "dbcusoitsupport@cunextgen.com"
											}
										]
									}
								],
								"from": {
									"email": "@{pipeline().globalParameters.FromEmail}"
								},
								"subject": "@{pipeline().parameters.subject}",
								"content": [
									{
										"type": "text/html",
										"value": " @{pipeline().parameters.content}"
									}
								],
								"custom_args": {
									"pipelineName": "@{pipeline().parameters.pipelineName}",
									"importance": "@{pipeline().parameters.importance}"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Subject": {
						"type": "string"
					},
					"Content": {
						"type": "string"
					},
					"Importance": {
						"type": "string"
					},
					"Pipelinename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "DataRetention/BacPac"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCU_AdminLogdb_PROD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlMI",
				"typeProperties": {
					"server": "[parameters('SCCU_AdminLogdb_PROD_properties_typeProperties_server')]",
					"database": "[parameters('SCCU_AdminLogdb_PROD_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "Credential_SCCU_AdminLogdb_PROD",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCU_AdminMetadb_PROD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlMI",
				"typeProperties": {
					"server": "[parameters('SCCU_AdminMetadb_PROD_properties_typeProperties_server')]",
					"database": "[parameters('SCCU_AdminMetadb_PROD_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "Credential_SCCU_AdminMetadb_PROD",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCU_AnonymousLogdb_PROD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlMI",
				"typeProperties": {
					"server": "[parameters('SCCU_AnonymousLogdb_PROD_properties_typeProperties_server')]",
					"database": "[parameters('SCCU_AnonymousLogdb_PROD_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "Credential_SCCU_AnonymousLogdb_PROD",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCU_AnonymousMetadb_PROD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlMI",
				"typeProperties": {
					"server": "[parameters('SCCU_AnonymousMetadb_PROD_properties_typeProperties_server')]",
					"database": "[parameters('SCCU_AnonymousMetadb_PROD_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "Credential_SCCU_AnonymousMetadb_PROD",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCU_Archivedb_PROD_DTU')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('SCCU_Archivedb_PROD_DTU_properties_typeProperties_server')]",
					"database": "[parameters('SCCU_Archivedb_PROD_DTU_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "Credential_Prod_DTU",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCU_BBAlertsDev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('SCCU_BBAlertsDev_properties_typeProperties_server')]",
					"database": "[parameters('SCCU_BBAlertsDev_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "credential_SCCU_BBAlertsDev",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCU_BBAlertsPROD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlMI",
				"typeProperties": {
					"server": "[parameters('SCCU_BBAlertsPROD_properties_typeProperties_server')]",
					"database": "[parameters('SCCU_BBAlertsPROD_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "Credential_SCCU_BBAlertsPROD",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCCU_BBAlertsUAT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('SCCU_BBAlertsUAT_properties_typeProperties_server')]",
					"database": "[parameters('SCCU_BBAlertsUAT_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "UserAssignedManagedIdentity",
					"credential": {
						"referenceName": "Credential_SCCUUAT_BBAlerts",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		}
	]
}