pipeline/00_DailyRetention_Main.json
{
	"name": "00_DailyRetention_Main",
	"properties": {
		"description": "PROD_DailyRetention_Main",
		"activities": [
			{
				"name": "If Retention Enabled",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "IsRetentionEnabled",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('IsRetentionEnabled').output.firstRow['RecordCount'],0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "PROD_DynamicRetention_Main",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PROD_DynamicRetention_Main",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "SCCUPROD_ActivityLogs_Main",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SCCUPROD_ActivityLogs_Main",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "SendEmailSuccess",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "PROD_DynamicRetention_Main",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SCCUPROD_ActivityLogs_Main",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SendEmail",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Subject": {
										"value": "SCCU Daily maintenance has been completed",
										"type": "Expression"
									},
									"Content": {
										"value": "SCCU Daily DB maintenance has been completed.",
										"type": "Expression"
									},
									"Importance": "Normal"
								}
							}
						},
						{
							"name": "SendMainl-ActivityLogFailure",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "SCCUPROD_ActivityLogs_Main",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SendEmail",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Subject": {
										"value": "@concat('Pipeline -', activity('SCCUPROD_ActivityLogs_Main').name, ' has been failed')",
										"type": "Expression"
									},
									"Content": {
										"value": "@activity('SCCUPROD_ActivityLogs_Main').output.errors.message",
										"type": "Expression"
									},
									"Importance": "High"
								}
							}
						},
						{
							"name": "SendMainl-BusinessDataFailure_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "PROD_DynamicRetention_Main",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SendEmail",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Subject": {
										"value": "@concat('Pipeline -', activity('PROD_DynamicRetention_Main').name, ' has been failed')",
										"type": "Expression"
									},
									"Content": {
										"value": "@activity('PROD_DynamicRetention_Main').output.errors.message",
										"type": "Expression"
									},
									"Importance": "High"
								}
							}
						}
					]
				}
			},
			{
				"name": "IsRetentionEnabled",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT count(1) as 'RecordCount' FROM [dbo].[DailyRetentionConfig] where PipelineRun=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SCCUPROD_ArchiveSqlDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "AdminLoginHistory",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SCCUPROD_AdminLoginHistory",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SendEmail",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Subject": "SCCU DB daily maintenance started",
						"Content": "SCCU DB daily maintenance started",
						"Importance": "Normal"
					}
				}
			}
		],
		"folder": {
			"name": "DataRetention"
		},
		"annotations": []
	}
}