pipeline/00_Offline_Main.json
{
	"name": "00_Offline_Main",
	"properties": {
		"activities": [
			{
				"name": "MemberData",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Data Ingestion Started",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "MemberDataDetails",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "AccountDetails",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "MemberData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "NextlyAccountDetails",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "UserCreditCard",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "AccountDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "UserCreditCards",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "CCMCreditCard",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "UserCreditCard",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CCM_CreditCard_AccountDetails",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SavingsAccount",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "UserCreditCard",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CK_SAV_Accounttransactions",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "DebitCards",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "UserCreditCard",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DebitCardDetails",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "AccountLockOut",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "UserCreditCard",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "NextlyAccountlockout",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "AccountRoles",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "UserCreditCard",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "NextlyAccountRoles",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "CrossAccounts",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "UserCreditCard",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "NextlyCrossAccounts",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "LoanTransaction",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "UserCreditCard",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "NextlyLoanTransactions",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Data Ingestion Started",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Offline_SendEmail_Success",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Subject": "Production Offline Data Ingestion started",
						"Content": "Production Offline Data Ingestion started",
						"Importance": "Normal"
					}
				}
			},
			{
				"name": "Data Ingestion Started_copy1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CCMCreditCard",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SavingsAccount",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "DebitCards",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "AccountLockOut",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "AccountRoles",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "CrossAccounts",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LoanTransaction",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Offline_SendEmail_Success",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Subject": "Production Offline Data Ingestion has been Completed ",
						"Content": "Production Offline Data Ingestion has been Completed",
						"Importance": "Normal"
					}
				}
			},
			{
				"name": "Data Ingestion Failure",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "MemberData",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Offline_SendEmail_Failure",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Subject": {
							"value": "@concat('Pipeline -', activity('MemberData').name, ' has been failed')",
							"type": "Expression"
						},
						"Content": {
							"value": "@activity('MemberData').output.errors.message",
							"type": "Expression"
						},
						"Importance": {
							"value": "High",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Data Ingestion Failure_copy1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "AccountDetails",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Offline_SendEmail_Failure",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Subject": {
							"value": "@concat('Pipeline -', activity('MemberData').name, ' has been failed')",
							"type": "Expression"
						},
						"Content": {
							"value": "@activity('MemberData').output.errors.message",
							"type": "Expression"
						},
						"Importance": {
							"value": "High",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Data Ingestion Failure_copy2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "UserCreditCard",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Offline_SendEmail_Failure",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Subject": {
							"value": "@concat('Pipeline -', activity('MemberData').name, ' has been failed')",
							"type": "Expression"
						},
						"Content": {
							"value": "@activity('MemberData').output.errors.message",
							"type": "Expression"
						},
						"Importance": {
							"value": "High",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Data Ingestion Failure_copy3",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CCMCreditCard",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Offline_SendEmail_Failure",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Subject": {
							"value": "@concat('Pipeline -', activity('MemberData').name, ' has been failed')",
							"type": "Expression"
						},
						"Content": {
							"value": "@activity('MemberData').output.errors.message",
							"type": "Expression"
						},
						"Importance": {
							"value": "High",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Data Ingestion Failure_copy4",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SavingsAccount",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Offline_SendEmail_Failure",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Subject": {
							"value": "@concat('Pipeline -', activity('MemberData').name, ' has been failed')",
							"type": "Expression"
						},
						"Content": {
							"value": "@activity('MemberData').output.errors.message",
							"type": "Expression"
						},
						"Importance": {
							"value": "High",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Data Ingestion Failure_copy5",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "DebitCards",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Offline_SendEmail_Failure",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Subject": {
							"value": "@concat('Pipeline -', activity('MemberData').name, ' has been failed')",
							"type": "Expression"
						},
						"Content": {
							"value": "@activity('MemberData').output.errors.message",
							"type": "Expression"
						},
						"Importance": {
							"value": "High",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Data Ingestion Failure_copy6",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "AccountLockOut",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Offline_SendEmail_Failure",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Subject": {
							"value": "@concat('Pipeline -', activity('MemberData').name, ' has been failed')",
							"type": "Expression"
						},
						"Content": {
							"value": "@activity('MemberData').output.errors.message",
							"type": "Expression"
						},
						"Importance": {
							"value": "High",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Data Ingestion Failure_copy7",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "AccountRoles",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Offline_SendEmail_Failure",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Subject": {
							"value": "@concat('Pipeline -', activity('MemberData').name, ' has been failed')",
							"type": "Expression"
						},
						"Content": {
							"value": "@activity('MemberData').output.errors.message",
							"type": "Expression"
						},
						"Importance": {
							"value": "High",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Data Ingestion Failure_copy8",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CrossAccounts",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Offline_SendEmail_Failure",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Subject": {
							"value": "@concat('Pipeline -', activity('MemberData').name, ' has been failed')",
							"type": "Expression"
						},
						"Content": {
							"value": "@activity('MemberData').output.errors.message",
							"type": "Expression"
						},
						"Importance": {
							"value": "High",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Data Ingestion Failure_copy9",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LoanTransaction",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Offline_SendEmail_Failure",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Subject": {
							"value": "@concat('Pipeline -', activity('MemberData').name, ' has been failed')",
							"type": "Expression"
						},
						"Content": {
							"value": "@activity('MemberData').output.errors.message",
							"type": "Expression"
						},
						"Importance": {
							"value": "High",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "OfflineServices"
		},
		"annotations": []
	}
}