pipeline/BacPac_Emails.json
{
	"name": "BacPac_Emails",
	"properties": {
		"activities": [
			{
				"name": "Send Email",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Getemail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SendEmail",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Subject": {
							"value": "@activity('Getemail').output.firstRow.Subject",
							"type": "Expression"
						},
						"Content": {
							"value": "@activity('Getemail').output.firstRow.EmailBody",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Getemail",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "EXEC @{pipeline().parameters.procName}",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"procName": {
				"type": "string",
				"defaultValue": "sp_Bacpac_GetEmailData_WeeklyTwice_Log"
			}
		},
		"annotations": []
	}
}