pipeline/BacPac ActivityLog_Weekly.json
{
	"name": "BacPac ActivityLog_Weekly",
	"properties": {
		"activities": [
			{
				"name": "IsRetentionEnabled",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT count(1) as 'RecordCount' FROM [dbo].[DailyRetentionConfig] where PipelineRun=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SCCUPROD_ArchiveSqlDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "IsRetentionEnabled",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('IsRetentionEnabled').output.firstRow['RecordCount'],0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ActivityLog Weekly Notification",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Weekly_StoredProcedure_Emails",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"procName": {
										"value": "sp_Bacpac_GetEmailData_WeeklyActivityLogs",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "DataRetention/BacPac"
		},
		"annotations": []
	}
}