pipeline/EmailAlerts_2nd_copy1.json
{
	"name": "EmailAlerts_2nd_copy1",
	"properties": {
		"description": "Pipeline email notification on job completion",
		"activities": [
			{
				"name": "GetSendGridAPIKey",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": {
						"value": "@concat('https://sccu-keyvault.vault.azure.net/secrets/SCCUSendGridAPI-PROD?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "SendEmailNotification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetSendGridAPIKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Authorization": "@concat('Bearer ', activity('GetSendGridAPIKey').output.value)",
						"Content-Type": "application/json"
					},
					"url": "https://api.sendgrid.com/v3/mail/send",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"personalizations": [
							{
								"to": [
									{
										"email": "SCCUADFNotifications@claysys.com"
									}
								]
							}
						],
						"from": {
							"email": "@{pipeline().globalParameters.FromEmail}"
						},
						"subject": "@{pipeline().parameters.subject}",
						"content": [
							{
								"type": "text/plain",
								"value": "Subject: @{pipeline().parameters.subject}\nImportance: @{pipeline().parameters.importance}\nContent: @{pipeline().parameters.content}\nPipeline Name: @{pipeline().parameters.pipelineName}"
							}
						],
						"custom_args": {
							"pipelineName": "@{pipeline().parameters.pipelineName}",
							"importance": "@{pipeline().parameters.importance}"
						}
					}
				}
			}
		],
		"parameters": {
			"Subject": {
				"type": "string",
				"defaultValue": "Test"
			},
			"Content": {
				"type": "string",
				"defaultValue": "This is test email"
			},
			"Importance": {
				"type": "string",
				"defaultValue": "Normal"
			},
			"Pipelinename": {
				"type": "string"
			}
		},
		"annotations": []
	}
}