pipeline/SendEmailActivity.json
{
	"name": "SendEmailActivity",
	"properties": {
		"activities": [
			{
				"name": "SendMail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetSendGridAPIKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ',activity('GetSendGridAPIKey').output.value)",
							"type": "Expression"
						},
						"Content-Type": "application/json"
					},
					"disableCertValidation": true,
					"url": {
						"value": "@pipeline().globalParameters.global_sendmail_api_url",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "{\n\"personalizations\": [\n   {\n    \"to\": [\n       {\n        \"email\": \"prem@claysys.com\"\n       }\n     ],\n    \"subject\": \"Test Email from ADF\"\n   }\n ],\n\"from\": {\n  \"email\": \"sccuadf@mail.cunextgen.org\"\n },\n\"content\": [\n   {\n    \"type\": \"text/plain\",\n    \"value\": \"Hello, this is a test email sent from ADF using SendGrid!\"\n   }\n ]\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetSendGridAPIKey",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": {
						"value": "@concat('https://sccu-keyvault.vault.azure.net/secrets/SCCUSendGridAPI-PROD?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"recipientEmail": {
				"type": "string",
				"defaultValue": "prem@claysys.com"
			},
			"EmailSubject": {
				"type": "string",
				"defaultValue": "Test Email from ADF"
			},
			"EmailBody": {
				"type": "string",
				"defaultValue": "Test Mail"
			}
		},
		"folder": {
			"name": "DataRetention/MISC"
		},
		"annotations": []
	}
}