pipeline/SendEmail.json
{
	"name": "SendEmail",
	"properties": {
		"description": "Pipeline email notification on job completion",
		"activities": [
			{
				"name": "GetSendGridAPIKey",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": {
						"value": "@concat('https://sccu-keyvault.vault.azure.net/secrets/SCCUSendGridAPI-PROD?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "SendEmailNotification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetSendGridAPIKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ', activity('GetSendGridAPIKey').output.value)",
							"type": "Expression"
						},
						"Content-Type": "application/json"
					},
					"url": "https://api.sendgrid.com/v3/mail/send",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "{\"personalizations\":[{\"to\":[{\"email\":\"SCCUADFNotifications@claysys.com\"}]}],\"from\":{\"email\":\"@{pipeline().globalParameters.FromEmail}\"},\"subject\":\"@{pipeline().parameters.Subject}\",\"content\":[{\"type\":\"text/html\",\"value\":\"@{pipeline().parameters.Content}\"}],\"importance\":\"@{pipeline().parameters.Importance}\"}}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Subject": {
				"type": "string"
			},
			"Content": {
				"type": "string"
			},
			"Importance": {
				"type": "string"
			}
		},
		"folder": {
			"name": "DataRetention/MISC"
		},
		"annotations": []
	}
}